{# 引入notifications的模板标签 #}
{% load notifications_tags %}
{% notifications_unread as unread_count %}
{# 导航栏 #}
<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <div class="container">


    {# 导航栏标题 #}
    <a class="navbar-brand" href="#">旺仔小EZ</a>

    {# 导航栏链接 #}
    <div>
      <ul class="navbar-nav">
        {# 文章列表链接 #}
        <li class="nav-item">
            {# 指向文章列表的链接 #}
          <a class="nav-link" href="{% url 'article:article_list' %}">首页</a>
        </li>
        {# if语句判断是否已经登录 #}
        {# .is_authenticated是models.User类的属性,用于判断用户是否已经通过身份验证 #}
        {% if user.is_authenticated %}
            {# 如果用户已经登录，则显示用户名下拉框 #}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {# 红点通知 #}
                    {% if unread_count %}
                        {# svg是绘制矢量图形的标签 #}
                        <svg viewBox="0 0 8 8"
                             width="8px"
                             height="8px">
                            <circle cx="4"
                                    cy="4"
                                    r="4"
                                    fill="#ff6b6b"
                                    ></circle>
                        </svg>
                    {% endif %}
                    {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url "notice:list" %}">消息通知
                        {% if unread_count %}
                        <span class="badge badge-danger">{{ unread_count }}</span>
                        {% endif %}
                    </a>
                    <a class="dropdown-item" href="{% url 'article:article_create' %}">写博客</a>
                    <a class="dropdown-item" href='{% url "userprofile:personal" user.id %}'>个人主页</a>
                    <a class="dropdown-item" href='{% url "userprofile:edit" user.id %}'>修改个人信息</a>
                    <a class="dropdown-item" href="#" onclick="user_delete()">注销账号</a>
                    <a class="dropdown-item" href="{% url "userprofile:logout" %}">退出登录</a>
                </div>
            </li>
        {# 如果用户未登录，则显示"登录" #}
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">登录</a>
            </li>
        <!-- if 语句在这里结束 -->
        {% endif %}
        {% if user.is_authenticated %}
        {# 一个隐藏的post请求表单,调用删除用户的视图 #}
        <form
            style="display:none;"
            id="user_delete"
            action="{% url 'userprofile:delete' user.id %}"
            method="POST"
        >
        {% csrf_token %}
            <button type="submit">发送</button>
        </form>
            {# 点击删除后调用的函数, 用于确认删除和执行post请求表单的发送#}
            <script>
                function user_delete() {
                    layer.open({
                        title: "确认删除",
                        content: "确认删除用户资料吗？",
                        yes: function(index, layero) {
                            //点击表单的提交按钮
                            $('form#user_delete button').click();
                            layer.close(index);
                        },
                    })
                }
            </script>
        {% endif %}
      </ul>
    </div>

  </div>
</nav>